@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&display=swap");
.icon-wrapper {
  padding-top: 0.5rem;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
*:focus,
*:focus-visible {
  outline-color: 1px solid var(--primary-bravo);
}
